.card {
    background-color: rgb(242, 152, 245);
    width: 270px;
    border-radius: 5px;
    padding: 1.5em;
    color: black;
    height: 10em;

}
.card h2 {
    text-align: center;
    margin-bottom: 1em;
}